* {
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  position: relative;
  height: 90vh;
  max-width: 100vw;
  margin: auto;
  overflow: hidden;
}

.carousel .div-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
